---
interface Props {
  text: string;
  href: string;
}

const { text, href } = Astro.props;
---

<section id={href} class="py-24">
  <h2
    class="mb-14 font-serif text-4xl font-bold tracking-tighter text-white md:text-5xl"
  >
    <span class="lang-es">
      {href === "experience"
        ? "Experiencia"
        : href === "projects"
        ? "Stack tecnológico"
        : href === "about"
        ? "Sobre mí"
        : text}
    </span>
    <span class="lang-en">
      {href === "experience"
        ? "Work Experience"
        : href === "projects"
        ? "Tech Stack"
        : href === "about"
        ? "About Me"
        : text}
    </span>
  </h2>
  <slot />
</section>
